@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

@layer base {
  body {
    background-color: #F6F7EB;
    color: #393E41;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
}
